In [1]:
#importing the libraries
import numpy as np
import pandas as pd

## Get Group

In [2]:
df = pd.read_csv('./dataset/vgsales.csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [3]:
g = df.groupby('Publisher')
g.get_group('Nintendo')

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16269,16272,Slide Adventure: Mag Kid,DS,2007.0,Action,Nintendo,0.00,0.00,0.01,0.00,0.01
16357,16360,Mario vs. Donkey Kong: Tipping Stars,WiiU,2015.0,Puzzle,Nintendo,0.00,0.00,0.01,0.00,0.01
16456,16459,Art Academy: Home Studio,WiiU,2015.0,Misc,Nintendo,0.00,0.00,0.01,0.00,0.01
16473,16476,Captain Rainbow,Wii,2008.0,Adventure,Nintendo,0.00,0.00,0.01,0.00,0.01
16542,16545,Mario & Luigi: Paper Jam & Mario Kart 7 Double...,3DS,2015.0,Misc,Nintendo,0.00,0.00,0.01,0.00,0.01

In [4]:
#print the games grouped by publisher
g['Name'].value_counts().head(50)

Publisher                     Name
10TACLE Studios               Boulder Dash: Rocks!                         1
                              Panzer Tactics                               1
                              Pirates: Legend of the Black Buccaneer       1
1C Company                    King's Bounty: Armored Princess              1
                              Men of War: Assault Squad                    1
                              Off-Road Drive                               1
20th Century Fox Video Games  Alien                                        1
                              Bank Heist                                   1
                              Deadly Duck                                  1
                              Fantastic Voyage                             1
                              Porky's                                      1
2D Boy                        World of Goo                                 1
3DO                           Army Men: Green Rogue                        2
                              Army Men: Sarge's Heroes                     2
                              Army Men: Sarge's Heroes 2                   2
                              High Heat Major League Baseball 2004         2
                              Warriors of Might and Magic                  2
                              World Destruction League: Thunder Tanks      2
                              Aqua Aqua                                    1
                              Army Men 3D                                  1
                              Army Men World War: Final Front              1
                              Army Men World War: Land, Sea, Air           1
                              Army Men World War: Team Assault             1
                              Army Men: Air Attack                         1
                              Army Men: Air Attack 2                       1
                              Army Men: Air Combat                         1
                              Army Men: Air Combat - The Elite Missions    1
                              Army Men: RTS                                1
                              BattleTanx                                   1
                              BattleTanx: Global Assault                   1
                              Contender 2                                  1
                              Crusaders of Might and Magic                 1
                              Dragon Rage                                  1
                              Godai: Elemental Force                       1
                              High Heat Baseball 2002                      1
                              High Heat Major League Baseball 2003         1
                              Jonny Moseley Mad Trix                       1
                              Portal Runner                                1
                              Sammy Sosa High Heat Baseball 2001           1
                              Shifters                                     1
                              Uprising X                                   1
                              WarJetz                                      1
49Games                       Summer Athletics 2009                        1
505 Games                     Terraria                                     6
                              Brunswick Pro Bowling                        5
                              Payday 2                                     5
                              IL-2 Sturmovik: Birds of Prey                4
                              Sniper Elite 3                               4
                              Alvin and the Chipmunks: Chipwrecked         3
                              Rocket League                                3
Name: Name, dtype: int64

## Aggregate

In [5]:
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9],
                   [np.nan, np.nan, np.nan]],
                  columns=['A', 'B', 'C'])
df.head()

     A    B    C
0  1.0  2.0  3.0
1  4.0  5.0  6.0
2  7.0  8.0  9.0
3  NaN  NaN  NaN

In [6]:
df.agg(['mean','sum'])

         A     B     C
mean   4.0   5.0   6.0
sum   12.0  15.0  18.0

In [7]:
df.agg({ 'A':'sum', 'B': 'min'})

A    12.0
B     2.0
dtype: float64

## Common Aggregate Functions

In [8]:
df.mean()

A    4.0
B    5.0
C    6.0
dtype: float64

In [9]:
df.min()

A    1.0
B    2.0
C    3.0
dtype: float64

In [10]:
df['A'].max()

7.0

In [11]:
df['C'].sum()

18.0

## Custom Function

In [12]:
#dataframe
df = pd.DataFrame([[1, 2, 3],
                   [4, 5, 6],
                   [7, 8, 9]],
                  columns=['A', 'B', 'C'])
# function
def fun(num):
    return int(str(int(num))+str(int(num)))

#apply
df['A'] = df['A'].apply(fun)
df

    A  B  C
0  11  2  3
1  44  5  6
2  77  8  9