## Not there for exam , I guess

In [1]:
#importing the libraries
import pandas as pd
import numpy as np

## One Hot Encoding

In [2]:
city = np.random.choice(['Chennai','Mumbai','Banglore'],size=20)
city = pd.DataFrame({
    'cities':city,
},index=np.arange(1,21))

In [3]:
one_hot_matrix = pd.get_dummies(city)
one_hot_matrix.head(10)

    cities_Banglore  cities_Chennai  cities_Mumbai
1                 0               0              1
2                 0               1              0
3                 0               1              0
4                 0               1              0
5                 0               0              1
6                 0               0              1
7                 1               0              0
8                 1               0              0
9                 1               0              0
10                0               1              0